<div class="bg-white" id="about">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
      <div class="w-full py-16">
        <div class="container mx-auto px-4">
          <div class="text-center mb-12">
            <h2 class="text-4xl lg:text-5xl font-bold text-gray-900 mb-4">About Us</h2>
            <p class="text-lg text-gray-600 max-w-3xl mx-auto">
              A dedicated advocate holding an LL.B from Allahabad University and enrolled with the Bar Council since
              2022, I bring strong legal acumen and a client-first approach to every case. With a deep understanding of
              law and a passion for justice, I focus on delivering strategic, result-oriented solutions tailored to each
              client’s unique needs. My commitment is to provide unwavering representation, protect rights with
              integrity, and pursue justice with determination both inside and outside the courtroom.
            </p>

          </div>


          <div class="grid gap-6 grid-cols-2 sm:gap-12 lg:grid-cols-3 lg:gap-8 mx-auto">
            <!-- Stats -->
            <div class="text-center">
              <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Accuracy rate</h4>
              <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">99.95%</p>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">in fulfilling orders</p>
            </div>
            <!-- End Stats -->

            <!-- Stats -->
            <div class="text-center">
              <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Winning Percentage</h4>
              <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">96%</p>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">partner with Preline</p>
            </div>
            <!-- End Stats -->

            <!-- Stats -->
            <div class="text-center">
              <h4 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-neutral-200">Happy customer</h4>
              <p class="mt-2 sm:mt-3 text-4xl sm:text-6xl font-bold text-blue-600">85%</p>
              <p class="mt-1 text-gray-500 dark:text-neutral-500">this year alone</p>
            </div>
            <!-- End Stats -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>