footer {
    background: #0d47a1;
    color: white;
    padding: 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 0.9rem;
  }

//   footer {
//     background: #1e3a8a;
//     color: white;
//     text-align: center;
//     padding: 1rem;
//     font-size: 0.9rem;
//   }
  