app-navbar{
.navbar-bg{
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;  
  .p-menubar{
    background-color: #FFF;
    border: none;
  }
}


@media (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
        width: 200px;
        right: -32px;
        left: auto;
  }
}
.cursor-pointer {
  cursor: pointer;
}

}

