body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
//   h2 {
//     font-size: 1.8rem;
//     margin-bottom: 1rem;
//     color: #1e3a8a; // dark navy
//   }
  
//   p {
//     line-height: 1.6;
//   }
  
//   section {
//     margin: 3rem 0;
//   }
  