@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply block py-2 px-3 text-white bg-blue-700 rounded-sm 
           md:bg-transparent md:text-gray-700 md:p-0 my-1
           dark:text-white md:dark:text-blue-500;
  }
  .menu:hover, .active {
    @apply text-blue-700
  }
.input-box{
  @apply px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
}
.label-control{
  @apply mb-2 mt-4 text-sm font-medium text-gray-700
}
.text-area{
  @apply px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 
}
}


.owl-carousel .owl-item img {
    display: block;
    width: inherit;
}